<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
  <link rel="stylesheet" href="css/styles.css">
  <style>
    button {
      background-color: transparent;
      border: none;
    }

    main {
      padding: 0 50px;
    }
  </style>
</head>
<body>
  <div hx-get="/nav" hx-trigger="load" hx-swap="outerHTML" hx-target="this"></div>

  <main>
    <section id="contenedor" hx-get="/datosObjetivos" hx-trigger="load" hx-target='this' hx-swap="innerHTML">
  </main>
  </section>
</body>
</html>